:root {
  --speed: 0.6s;
  --easing: linear(
    0 0%, 0.1538 4.09%, 0.2926 8.29%, 0.4173 12.63%, 0.5282 17.12%,
    0.6255 21.77%, 0.7099 26.61%, 0.782 31.67%, 0.8425 37%, 0.8887 42.23%,
    0.9257 47.79%, 0.9543 53.78%, 0.9752 60.32%, 0.9883 67.11%, 0.9961 75%,
    1 100%
  );
}

.listItem {
  background: var(--background-secondary);
  position: relative;
  overflow: hidden;
  min-width: var(--base-width, 80px);
  border-radius: 12px;
  border: 1px solid var(--border-primary);
  transition: background-color 0.3s ease;
}

.listItem::before, .listItem::after {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: 0;
  border-radius: inherit;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #9146ff 0deg, 
    #ffd700 72deg,
    #9146ff 144deg,
    #ffd700 216deg,
    #9146ff 288deg,
    #9146ff 360deg
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  filter: blur(8px);
}

.listItem::after {
  filter: blur(0px);
}

.listItem:hover::before, .listItem:hover::after {
  opacity: 1;
}

.linkWrapper {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
  background-color: var(--background-secondary);
  border-radius: inherit;
  overflow: hidden;
}

.article {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
  padding-left: 1.5rem;
  overflow: hidden;
}

.verticalTitle {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  transform-origin: 0 50%;
  rotate: 90deg;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.7;
  transition: opacity var(--speed) var(--easing);
}

.article > svg {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity var(--speed) var(--easing);
}

.description {
  font-size: 14px;
  text-wrap: balance;
  line-height: 1.3;
  opacity: 0;
  transition: opacity var(--speed) var(--easing);
  color: var(--foreground-secondary);
}

.link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: inherit;
  text-decoration: none;
  opacity: 0;
  transition: opacity var(--speed) var(--easing);
}

.link:is(:focus-visible, :hover) span {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Active State */
.listItem[data-active='true'] .verticalTitle {
  opacity: 0;
}

.listItem[data-active='true'] > .article > svg {
  opacity: 1;
}

.listItem[data-active='true'] .description,
.listItem[data-active='true'] .link {
  opacity: 1;
  transition-delay: calc(var(--speed) * 0.25);
}

.iconWrapper {
  width: 40px;
  height: 40px;
  color: var(--accent-primary);
}

.iconWrapper svg {
    width: 100%;
    height: 100%;
}

.label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.cta {
  font-weight: 500;
  color: var(--accent-primary);
  margin-top: auto;
  align-self: flex-start;
} 